  /* Stylowanie tytułu listy */
  .list {
      font-size: 24px;
      color: #333;
      margin-bottom: 10px;
  }

  /* Stylowanie formularza */
  .js-form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
      max-width: 80%;
  }

  /* Stylowanie grupy elementów formularza */
  .form-group {
      display: flex;
      align-items: center;
  }

  /* Stylowanie pola tekstowego */
  .js-newTask {
      flex: 1;
      height: 30px;
      padding: 5px;
      font-size: 16px;
  }

  /* Stylowanie przycisku "Dodaj zadanie" */
  .js-form button {
      margin: 10px;
      padding: 8px 16px;
      font-size: 16px;
      background-color: #036e72;
      color: #fff;
      border: none;
      cursor: pointer;
  }

  /* Stylowanie listy zadań */
  .js-tasks {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-direction: column;
  }

  /* Stylowanie elementów listy zadań */
  .js-tasks li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      /* Dodajemy justify-content */
      margin-bottom: 5px;
      padding: 10px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  /* Stylowanie przycisków w elemencie listy zadań */
  .js-tasks li button {
      margin-right: 20px;
  }

  /* Stylowanie zrobionych zadań */
  .js-tasks li .list__item--done {
    background-color: rgb(33, 218, 33);
    color: #fff;
    border-radius: 4px;
    text-decoration: line-through; 
  }

  /* Stylowanie przycisku usuwania (kosz na śmieci) */
  .js-tasks li .js-remove {
      display: flex;
      align-items: flex-end;
      background-color: rgb(221, 30, 30);
      color: #fff;
      justify-content: flex-end;

  }

  /* Stylowanie przycisku z oznaczaniem jako zrobione */
  .js-tasks li .js-done {
      background-color: rgb(5, 141, 5);
      color: #fff;
      border-radius: 4px;
    
      
  }